--extra-index-url https://download.pytorch.org/whl/cpu
streamlit>=1.35.0
fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
sentence-transformers
transformers
torch
pypdf
docx2txt
pandas
pillow
pytesseract
openai-whisper
openai
sqlalchemy
pymysql
python-dotenv
scipy
